<h1>Welcome To Rob and Sandro Discovery Channel</h1>
<a href="http://localhost:3000/animals/new"><h2>Create Animal</h2></a>
<a href="http://localhost:3000/sightings/new"><h2>Animal Sightings</h2></a>
